/* 
font-family: 'Bebas Neue', cursive;
font-family: 'Roboto', sans-serif; */

:root {
  --font-bebas-neue: "Bebas Neue", cursive;
  --font-roboto: "Roboto", sans-serif;
  --font-passion: "Passion One", cursive;

  --color-primary: 120 24% 80%;
  --color-accent: 1 69% 57%;
}

* {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--color-primary)) hsl(var(--color-accent));
}

*::-webkit-scrollbar {
  width: 0px;
}
*::-webkit-scrollbar-thumb {
  color: hsl(var(--color-accent));
  /* border-radius: 20px; */
  /* border: 3px solid orange; */
}
*::-webkit-scrollbar-track {
  background-color: hsl(var(--color-accent) / 0.5);
}
