@import "./reset.css";
@import "./root.css";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

body {
  background-color: hsl(var(--color-primary));
}
.background {
  background-image: url("../../static/images/background.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero-content {
  /* width: 80%; */
  width: clamp(80%, 400px, 700px);
  width: min(80%, 700px);
}

.hero-content h1 {
  text-align: center;
  font-family: var(--font-bebas-neue);
  text-transform: capitalize;
  color: hsl(var(--color-primary));
  text-shadow: 0 0 10px black;
  letter-spacing: 2px;
  word-spacing: 5px;
}

.hero-content p {
  text-align: center;
  font-family: var(--font-roboto);
  color: hsl(var(--color-primary) / 0.8);
  text-shadow: 0 0 5px black;
}
.arrow {
  margin-top: 4em;
}

.arrow h1 {
  font-size: 2rem;
}

.arrow p {
  text-transform: capitalize;
}

/* 
//  work section
*/

.work-section {
  --border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 4rem;
}
.container {
  width: 80%;
}

.container h1 {
  font-family: var(--font-bebas-neue);
  letter-spacing: 3px;
  word-spacing: 5px;
  text-transform: capitalize;
  color: hsl(var(--color-accent));
  font-size: 3em;
  margin-bottom: 1em;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: hsl(0, 0%, 0%);
  margin: 1em 2em;
  border-radius: var(--border-radius);
}

.card h2 {
  color: hsl(var(--color-primary));
  margin-left: 0.5rem;
  padding: 0.2em;
}

.thumbnail {
  display: block;
  width: 200px;
  aspect-ratio: 2/1;
  /* background-color: aqua; */
  background-size: cover;
  border-radius: var(--border-radius);
  transition: opacity 0.3s ease;
}

.thumbnail:hover {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.card-1 {
  background-image: url("../../static/images/background.jpg");
  /* width: 100px; */
}
.card-2 {
  background-image: url("../../static/images/background.jpg");
  /* width: 100px; */
}
.card-3 {
  background-image: url("../../static/images/background.jpg");
  /* width: 100px; */
}

@media screen and (max-width: 2000px) {
  .hero-content h1 {
    /* color: blueviolet; */
    font-size: 4.5rem;
  }
  .hero-content p {
    font-size: 2rem;
  }
  .work-section {
    width: 70%;
    margin: auto;
  }

  .container h1 {
    font-size: 4rem;
  }
  .card h2 {
    font-size: 2em;
  }
}

@media screen and (max-width: 910px) {
  .hero-content h1 {
    /* color: blueviolet; */
    font-size: 3rem;
  }
  .hero-content p {
    font-size: 1.3rem;
  }

  .work-section {
    width: 80%;
    margin: auto;
  }
  .container h1 {
    font-size: 3rem;
  }
  .card h2 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 660px) {
  .hero-content h1 {
    /* color: red; */
    font-size: 2rem;
  }
  .hero-content p {
    font-size: 1rem;
  }
  .work-section {
    width: 90%;
  }

  .card h2 {
    font-size: 1.1em;
  }
}
